@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
          <a class="cold-md-6"></a>
          <img class="col-md-6" src="https://img.freepik.com/fotos-gratis/trabalhador-da-construcao_329181-2851.jpg?t=st=1653615422~exp=1653616022~hmac=971f01411a73f37177c044f09d18f1dd0606ee6ff202ba59a0762564e901b192&w=740" width="600" />
          
          <a class="cold-md-6"></a> 
          <img class="col-md-6" src="https://img.freepik.com/fotos-gratis/reuniao-de-pessoas-de-negocios-para-analisar-e-discutir-e-debater-os-dados-do-grafico-do-relatorio-financeiro-no-escritorio-trabalho-em-equipe-do-consultor-financeiro-e-conceito-de-fechamento-de-contabilidade_1645-763.jpg?w=740" width="600" />
           
          <a class="cold-md-6"></a>
          <img class="col-md-6" src="https://img.freepik.com/fotos-gratis/mulher-lendo-no-monitor_23-2149370605.jpg?t=st=1653615697~exp=1653616297~hmac=6a26e3bcfaa4687a4489db1f1dc19a5c9758019c70105d8ace6eaf3cad3db0b9&w=740" width="600" />
  


</div>
